.violet-button {
    background-color: rgb(75, 10, 75);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
  }
  #h3{
    margin-top: 250px;
    margin-left: 0px;
  }
  #h2{
    margin-top: 250px;
    margin-left: 0px;
  }
  @media(max-width:580)
  {
    #h3{
        font-size:21px;
    }
    .para1{
        font-size:13px;
    }
   .violet-button{
    padding:3px;
   }
  }
  select{
    border: none;
  }
  textarea{
    border:none;
  }
  .vi{
    background-color: rgb(75, 10, 75);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
  }
  .hi{
    color:rgb(75, 10, 75);
  }
  .hj{
    color:rgb(164, 114, 164);
  }
  .vb{
    background-color: rgb(75, 10, 75);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px 20px 20px 20px;
  }